<nav class="navbar navbar-expand-lg py-3 text-white navbar-light sticky-top navbar-dark p-3 mb-2 bg-primary text-white">
  <a class="navbar-brand title" href="#">
  <img src="" class="d-inline-block align-top" alt="logo">
  RMS
  </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent" >
  <ul class="navbar-nav mr-auto">
  <li class="nav-item " >
  <i class="fa fa-home" aria-hidden="true"> </i>
  <a class="nav-link-inline text-white" href="#"> &nbsp;Home &nbsp; / &nbsp; Navigation</a>
  </li>
  </ul>
  <span class="navbar-text text-white">
  Joseph Rebin
  </span>
  </div>
  </nav>
     
    <div id=container>
    <div class="row">
      <div class="col-md-12 ">
        <button type="button" class="btn btn-success">Create Job</button>
      </div>
    </div>
    </div>
    <br>
    
    <div class="row">
      <div class="col-11">
          <h5>Job List</h5>
      </div>
      <div class="col-md-11 col-sm-11 top"></div>
      <table class="table table-hover table-responsive-sm table-responsive-md table-responsive-lg">

          <tr class="text-left thead-light">
              <th>Job ID</th>
              <th>Buisness Unit</th>
              <th>Role</th>
              <th>Departments</th>
              <th>Primary Skills</th>
              <th>Experience</th>
              <th>Location</th>
              <th>Job Description</th>
              <th>Status</th>
              <th>Profiles</th>
              <th>Posted On</th>
          </tr>
          <tr class="text-left">
              <td><a href="#">EXPJ 123</a></td>
              <td>ESS</td>
              <td>Business Analyst</td>
              <td>Department</td>
              <td>Implementation</td>
              <td>10+</td>
              <td>Kochi</td>
              <td><a href="#">BA</a></td>
              <td>Open</td>
              <td><a href="#">24</a></td>
              <td>15-May-2019</td>
          </tr>
          <tr class="text-left">
            <td><a href="#">EXPJ 123</a></td>
              <td>ESS</td>
              <td>Business Analyst</td>
              <td>Department</td>
              <td>Implementation</td>
              <td>10+</td>
              <td>Kochi</td>
              <td><a href="#">BA</a></td>
              <td>Open</td>
              <td><a href="#">34</a></td>
              <td>15-May-2019</td>
              
          </tr>
          <tr class="text-left">
            <td><a href="#">EXPJ 123</a></td>
            <td>ESS</td>
            <td>Business Analyst</td>
            <td>Department</td>
            <td>Implementation</td>
            <td>10+</td>
            <td>Kochi</td>
            <td><a href="#">BA</a></td>
            <td>Open</td>
            <td><a href="#">21</a></td>
            <td>15-May-2019</td>
          </tr>
          <tr>
            <td><a href="#">EXPJ 123</a></td>
            <td>ESS</td>
            <td>Business Analyst</td>
            <td>Department</td>
            <td>Implementation</td>
            <td>10+</td>
            <td>Kochi</td>
            <td><a href="#">BA</a></td>
            <td>Open</td>
            <td><a href="#">24</a></td>
            <td>15-May-2019</td>
          </tr>
          <tr>
            <td><a href="#">EXPJ 123</a></td>
            <td>ESS</td>
            <td>Business Analyst</td>
            <td>Department</td>
            <td>Implementation</td>
            <td>10+</td>
            <td>Kochi</td>
            <td><a href="#">BA</a></td>
            <td>Open</td>
            <td><a href="#">24</a></td>
            <td>15-May-2019</td>
          </tr>
      </table>
  </div> 